<div class="row">
  <div class="column left" >
    <ul>
      <li><%= link_to 'Профиль', '/'  %></li>
      <li><%= link_to 'Друзья', '/view_friends'  %></li>
      <li> <%= link_to 'Новости', '/posts'  %></li>
      <li><%= link_to 'Диалоги', '/messenger'  %></li>
    </ul>
  </div>
  <div class="column right">
    <div class="container_right">
    <%= button_to "Добавить друга", action: "add" %>
    <table id="view_friends_id">
      <tr>
        <th>Мои друзья</th>
      </tr>
      <% @res.each do |result| %>
        <tr>
          <td><%= link_to result[0].join, "/?id_user=#{result[1].join}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>