<div class="row">
  <div class="column left" >
    <ul>
      <li><%= link_to 'Профиль', '/'  %></li>
      <li><%= link_to 'Друзья', '/view_friends'  %></li>
      <li> <%= link_to 'Новости', '/posts'  %></li>
      <li><%= link_to 'Диалоги', '/messenger'  %></li>
    </ul>
  </div>
  <div class="column right">
    <div class="container_mes">
        <h1 id="h1_dialog">Переписка с <%=  @name_friend %></h1>
        <table id="dialog">
          <% if @messenge_array == [] %>
            <%else %>
          <% @messenge_array.each do |elem|  %>
            <% puts elem[0][0] %>
            <% if elem[0][0].to_i ==  current_user.id %>
              <tr><td><%=elem[1][0]%></td><td></td></tr>
            <%else %>
              <tr><td></td><td><%=elem[1][0]%></td></tr>
          <%end %>
          <%end %>
          <%end %>
        </table>
    <form name="send" method="post" data-remote="true">
      <textarea id="textarea", placeholder="Написать сообщение!", name="mes"></textarea>
      <input name="commit" type="submit" value="Отправить" onclick="return send_query();" />
    </form>
  </div>
  </div>
</div>
<script>
    calc_url= location.protocol + "//" + location.host + "/send.json"
    function send_query(){
        var frm = document.forms.send;
        var url_string = window.location;
        var url = new URL(url_string);

        var c = url.searchParams.get("id_friend");

        var param_str = "?" +"mes=" + frm.mes.value+"&"+"id_friend="+c

        if (param_str == "") return false;
        var my_JSON_object = {};
        var http_request = new XMLHttpRequest();

        http_request.open("GET", calc_url+param_str, true);

        http_request.onreadystatechange = function () {
            var done = 4, ok = 200;

            if (http_request.readyState == done &&
                http_request.status == ok) {

                my_JSON_object= JSON.parse(http_request.responseText);

                show_result(my_JSON_object);
            }
        };
        http_request.send(null);
        return false;
    }

    function show_result(data){
        var tbody = document.getElementById('dialog');
            var tr = document.createElement('tr')
            tbody.appendChild(tr);
            var td1 = document.createElement('td')
            tr.appendChild(td1);
            td1.appendChild(document.createTextNode(data.mes))
            td1.style.textAlign = "left"
           document.getElementById('textarea').value = "";
    }
</script>



